<h4>Shopping Cart:</h4>
<% if (this.collection.length===0) { %>
    <div class="alert alert-info" role="alert">
        Your shopping cart is empty. Please add some products.
    </div>
<% } else { %>
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Qty.</th>
                <th>Article</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
<% } %>
