<td><%= name %></td>
<td><%= this.formatPrice(price, units) %></td>
<td><input class="form-control input-sm" value="<%= this.quantity %>" size="1em" /></td>
<td><a class="btn btn-success btn-xs add-to-cart pull-right">Buy!</a></td>
